<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>31284ass</display-name>
  <welcome-file-list>
    <welcome-file>Hotels</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Jersey REST Web Services</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>rest</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Web Services</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
   com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  </listener-class>
  </listener>
  <servlet>
    <servlet-name>SOAP Web Services</servlet-name>
    <servlet-class>
   com.sun.xml.ws.transport.http.servlet.WSServlet
  </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SOAP Web Services</servlet-name>
    <url-pattern>/soap/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hotels</display-name>
    <servlet-name>Hotels</servlet-name>
    <servlet-class>servlets.Hotels</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hotels</servlet-name>
    <url-pattern>/Hotels</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hotel</display-name>
    <servlet-name>Hotel</servlet-name>
    <servlet-class>servlets.Hotel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hotel</servlet-name>
    <url-pattern>/Hotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Review</display-name>
    <servlet-name>Review</servlet-name>
    <servlet-class>servlets.Review</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Review</servlet-name>
    <url-pattern>/Review</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewTranslate</display-name>
    <servlet-name>ReviewTranslate</servlet-name>
    <servlet-class>servlets.ReviewTranslate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewTranslate</servlet-name>
    <url-pattern>/ReviewTranslate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OnPostReview</display-name>
    <servlet-name>OnPostReview</servlet-name>
    <servlet-class>servlets.OnPostReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnPostReview</servlet-name>
    <url-pattern>/OnPostReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OnDeleteReview</display-name>
    <servlet-name>OnDeleteReview</servlet-name>
    <servlet-class>servlets.OnDeleteReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnDeleteReview</servlet-name>
    <url-pattern>/OnDeleteReview</url-pattern>
  </servlet-mapping>
</web-app>